PUBLIC_KB_TARGET_URI=sip:11@kb-t-71-01
PUBLIC_LOG_LEVEL=debug
PUBLIC_API_URL=https://emergency.ds-apps.tsb-berlin.de
PUBLIC_KB_DEMO_TARGET_URI=sip:*66@kb-t-71-01
PUBLIC_USER_PREFIX=user
PUBLIC_WSS_PATH=/ws

export DEPLOY_PASSWORD="pass"