PUBLIC_KB_SERVER_ADDRESS=emergency.ds-apps.tsb-berlin.de
PUBLIC_KB_WSS_PORT=8089
PUBLIC_KB_WSS_PATH=/ws
PUBLIC_KB_DOMAIN=emergency.ds-apps.tsb-berlin.de
PUBLIC_KB_TARGET_URI=sip:100@kb-t-71-01
PUBLIC_KB_SIP_USERNAME=User2
PUBLIC_KB_SIP_PASSWORD=1234
PUBLIC_KB_DISPLAY_NAME=emergency
PUBLIC_LOG_LEVEL=error
PUBLIC_API_URL=http://localhost:9080
PUBLIC_KB_DEMO_TARGET_URI=sip:*66@kb-t-71-01

export DEPLOY_PASSWORD="pass"